<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描指定包,将带有@Componet注解的类自动定义为Spring Bean -->
    <context:component-scan base-package="aop.IntroDuctionAdvice"/>

    <!-- 配置一个代理 -->
    <bean id="introductionProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!-- 需要代理的接口 -->
        <property name="interfaces" value="aop.IntroDuctionAdvice.Apology"/>

        <!-- 目标类 -->
        <property name="target" ref="helloIntroduction" />

        <!-- 拦截器名称 也就是增强类名称 SpringBean的id -->
        <property name="interceptorNames">
            <!-- 多个值用list,一个值的话直接在 name="interceptorNames"后面添加value属性 -->
            <list>
                <value>greetingIntroAdvice</value>
            </list>
        </property>

        <property name="proxyTargetClass" value="true"/>
    </bean>
</beans>